<section class="index contact">
	<div class="form">
		<h1>Contact Us</h1>

		<p class="underheader">
			<a href="mailto:modosalonportals@gmail.com">modosalonportals@gmail.com</a>
		</p>
		<p class="underheader">
			<a class="icons" href="tel:+34971096811">+34 971 096811</a>
		</p>
	</div>


	<div class="address">
		<h2>Find Us</h2>
		<p class="underheader">See our address and find us on the map below</p>
		<div class="content">
			<div class="icon">
				<i class="fa fa-map-marker" aria-hidden="true"></i>
			</div>
			<div class="text">
				<p>Garcilaso de la vega 1,<br>
				CP 07181, Portals Nous,<br>
				Islas Baleares, Spain</p>
			</div>
		</div>
	</div>
	<div class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6154.362236286665!2d2.564507!3d39.532968!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfc06a8bdd837ab8b!2sMoDo%20Hair%20%26%20Nails!5e0!3m2!1sen!2sie!4v1572211316808!5m2!1sen!2sie" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
	</div>
</section>
