<section class="index contact">
	<div class="form">
		<h1>Contact Us</h1>

		<p class="underheader">
			<a href="mailto:mdhairsalon17@gmail.com">mdhairsalon17@gmail.com</a>
		</p>
		<p class="underheader">
			<a class="icons" href="tel:+34971096811">+34 971 096811</a>
		</p>

		<!-- To Do -->
		<!-- <form action="index.html" method="post">
			<div class="inputs">
				<div class="box one">
					<input type="text" name="name" value="" placeholder="Your name...">
					<input type="email" name="email" value="" placeholder="Your email...">
				</div>
				<div class="box two">
					<input type="text" name="subject" value="" placeholder="The Subject...">
					<textarea name="message" rows="6" cols="40" placeholder="Your message..."></textarea>
				</div>
			</div>
			<div class="submit">
				<input type="submit" name="" value="Send">
			</div>
		</form> -->
	</div>


	<div class="address">
		<h2>Find Us</h2>
		<p class="underheader">See our address and find us on the map below</p>
		<div class="content">
			<div class="icon">
				<i class="fa fa-map-marker" aria-hidden="true"></i>
			</div>
			<div class="text">
				<p>Passeo Illetas 2,<br>
				Local 9, 07181 Illetas,<br>
				Islas Baleares, Spain</p>
			</div>
		</div>
	</div>
	<div class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3076.6791769309693!2d2.5925122149186124!3d39.54429087947609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12978ddf2c18a557%3A0xfc06a8bdd837ab8b!2sMD+Hair+%26+Beauty+Salon!5e0!3m2!1sen!2sie!4v1504619801538"  frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</section>
