// === COLORS ===
$primary_white: rgba(255, 255, 255, 0.90);
$secondary_white: rgba(255, 255, 255, 0.75);
$ternary_white: rgba(255, 255, 255, 0.70);

$primary_black: rgba(0, 0, 0, 1);
$secondary_black: rgba(0, 0, 0, 0.75);
$ternary_black: rgba(0, 0, 0, 0.35);

// === FONTS ===
$text: 'Saira', sans-serif;
$heading: 'Julius Sans One', sans-serif;


// === SIZES ===
$doc-width: 960px;
$window-padding: 20px;

