// IMPORTS

@import "variables";		
@import "mixins";
@import "mixins-flex";

.loader {
	width: 100%;
	position: fixed;
	z-index: 9999;	
	background-color: white;
	
	/*@include display-flex;
	@include justify-content-center;
	@include align-items-center;*/

	.spinner-wrap {
		width: 150px;
		height: 150px;
		position: absolute;
		left: 50%;
		margin-left: -75px;
		top: 50%;
		margin-top: -75px;
		transition: all 0.3s linear;
		opacity: 0;
		animation: appear 0.5s linear forwards;

		@include display-flex;
		@include justify-content-center;
		@include align-items-center;

		.spinner {
			@include boxSizing(border-box);
			@include transition(all 0.4s linear);

			width: 100%;
			height: 100%;
			
			border-radius: 50%;
			border: 1px solid transparent;
			border-top-color: rgba(0, 0, 0, 0.7); 
			border-bottom-color: rgba(0, 0, 0, 0.7); 
			animation: spinner 2s linear infinite;

		}

		.text {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -10px;
			margin-left: -48px;
			line-height: 20px;  
			color: rgba(0, 0, 0, 0.7);
		}
	}

	@keyframes spinner {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}

	@keyframes appear {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}
}

// IMPORTS

@import "layouts";
@import "views";

// pointer-events: none; Disables events

//==============
// CLASSES
//==============


// -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

.scale-spinner-down {
	//transform: scale(0);
	animation: hide 0.4s linear forwards;
}

.wrapper {	
	max-width: 960px;
	width: 100%;
	margin: 0px auto;
	padding: 0px;
	box-sizing: border-box;
	position: relative;
}	

.center { /* Centering the element inside */
	display: table; /* Allow the centering to work */
	margin: 0px auto;
}

.nav-fixed {
	position: fixed;
	width: 100%;	
	top: 0;
}

button {
	&:focus {			
		outline: 0;
	}

	&:hover {
		cursor: pointer;
		}		
}

// For active active menu-navigation names
.active {
	color: rgba(255, 255, 255, 1) !important;
	opacity: 1;
}

// Center div in another div. Code is for the inner. The outher must be with relative position
.centerVH {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}

/////////////////
// END OF CLASSES
/////////////////


html {
	height: 100%;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	background-color: white;
}

h1, h2, h3, h4, h5 {
	font-family: $heading;
}	

p, a {
	font-family: $text;
}

p {
	line-height: 1.5;
}

a {
	text-decoration: none;
	cursor: pointer;
}

textarea, input, button { outline: none; }

#scroller-top {
	position: fixed;
	bottom: -100px;
	right: 25px;
	font-size: 3em;
	color: rgba(140, 10, 10, .6);
	display: block;
	z-index: 9998;
	transition: all 0.6s ease-in-out;
}		

//=======================================================================
		

// Sections General
section.index {
&:not(.home) {

}

	position: relative;	
	//background-color: white;
	//	@include boxSizing(border-box);
}

