.loader {
  width: 100%;
  position: fixed;
  z-index: 9999;
  background-color: white;
  /*@include display-flex;
  @include justify-content-center;
  @include align-items-center;*/ }
  .loader .spinner-wrap {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    top: 50%;
    margin-top: -75px;
    transition: all 0.3s linear;
    opacity: 0;
    animation: appear 0.5s linear forwards;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .loader .spinner-wrap .spinner {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      /* Enable hardware acceleration to fix laggy transitions */
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-transition: all 0.4s linear;
      /* For Safari 3.1 to 6.0 */
      -moz-transition: all 0.4s linear;
      -ms-transition: all 0.4s linear;
      -o-transition: all 0.4s linear;
      transition: all 0.4s linear;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 1px solid transparent;
      border-top-color: rgba(0, 0, 0, 0.7);
      border-bottom-color: rgba(0, 0, 0, 0.7);
      animation: spinner 2s linear infinite; }
    .loader .spinner-wrap .text {
      position: fixed;
      color: rgba(0, 0, 0, 0.7); }
@keyframes spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
div.fixed-bar {
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  opacity: 0.7;
  background-color: #000000;
  color: white; }
  div.fixed-bar div.sub-fixed-bar {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%; }
    div.fixed-bar div.sub-fixed-bar div#logo-nav {
      height: 100%;
      z-index: 101;
      padding: 15px 20px;
      box-sizing: border-box;
      -moz-box-sizing: border-box; }
      div.fixed-bar div.sub-fixed-bar div#logo-nav a img {
        height: 100%; }
      @media only screen and (min-width: 1025px) {
        div.fixed-bar div.sub-fixed-bar div#logo-nav {
          padding: 15px 50px; } }
    div.fixed-bar div.sub-fixed-bar div#menu-trigger {
      position: absolute;
      display: block;
      margin: 20px 25px;
      right: 0;
      top: 0;
      height: 20px;
      width: 35px;
      box-sizing: border-box;
      -moz-box-sizing: border-box; }
      div.fixed-bar div.sub-fixed-bar div#menu-trigger span {
        position: absolute;
        display: block;
        width: 35px;
        height: 2px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        background-color: white; }
      div.fixed-bar div.sub-fixed-bar div#menu-trigger span.bar-2 {
        top: 9px; }
      div.fixed-bar div.sub-fixed-bar div#menu-trigger span.bar-3 {
        top: 18px; }
      @media only screen and (min-width: 768px) {
        div.fixed-bar div.sub-fixed-bar div#menu-trigger {
          display: none; } }

ul.menu-ul {
  opacity: 0;
  position: fixed;
  padding: 20px 0;
  width: 100%;
  z-index: 99;
  background-color: #0e0e0e;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }
  ul.menu-ul li {
    padding: 20px 20px;
    min-height: 70px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; }
    ul.menu-ul li:nth-child(even) {
      display: none; }
    ul.menu-ul li a {
      display: block;
      margin: 0 auto;
      color: rgba(255, 255, 255, 0.7);
      font-family: "Julius Sans One", sans-serif;
      font-size: 18px;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-align: center; }
      ul.menu-ul li a img.la-biostethique {
        width: 50%;
        height: auto;
        opacity: 0.7; }
    @media only screen and (max-width: 768px) and (orientation: landscape) {
      ul.menu-ul li {
        height: 40px;
        padding: 10px 20px; } }
  @media only screen and (min-width: 768px) {
    ul.menu-ul {
      display: table;
      width: auto;
      padding: 0;
      height: 60px;
      top: 0;
      right: 0;
      padding-right: 20px;
      z-index: 101;
      opacity: 1;
      background-color: transparent;
      box-sizing: border-box;
      -moz-box-sizing: border-box; }
      ul.menu-ul li {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        float: left;
        width: auto;
        margin: 22.5px 0;
        padding: 0;
        height: 15px;
        border-style: none;
        opacity: 0.80;
        background-color: transparent;
        font-size: 13px;
        line-height: 1;
        /* Enable hardware acceleration to fix laggy transitions */
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: all 0.3s ease;
        /* For Safari 3.1 to 6.0 */
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        ul.menu-ul li:nth-child(even) {
          padding-right: 10px;
          margin-right: 10px;
          border-right: 1px solid #7E7E7E;
          display: list-item; }
        ul.menu-ul li:hover, ul.menu-ul li:focus {
          color: rgba(255, 255, 255, 0.95) !important;
          opacity: 1; }
        ul.menu-ul li a {
          display: block;
          margin: 0 auto;
          color: rgba(255, 255, 255, 0.7);
          font-family: "Julius Sans One", sans-serif;
          font-size: 15px;
          letter-spacing: 2px;
          text-transform: uppercase;
          text-align: center; } }
  @media only screen and (min-width: 1025px) {
    ul.menu-ul {
      display: table;
      width: auto;
      padding: 0;
      height: 60px;
      top: 0;
      right: 0;
      padding-right: 50px;
      z-index: 101;
      opacity: 1;
      background-color: transparent;
      box-sizing: border-box;
      -moz-box-sizing: border-box; }
      ul.menu-ul li {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        float: left;
        width: auto;
        margin: 20px 0;
        padding: 0;
        height: 20px;
        border-style: none;
        opacity: 0.80;
        background-color: transparent;
        line-height: 1;
        /* Enable hardware acceleration to fix laggy transitions */
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: all 0.3s ease;
        /* For Safari 3.1 to 6.0 */
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        ul.menu-ul li:nth-child(even) {
          padding-right: 16px;
          margin-right: 16px;
          border-right: 1px solid #7E7E7E;
          display: list-item; }
        ul.menu-ul li:hover, ul.menu-ul li:focus {
          color: rgba(255, 255, 255, 0.85) !important;
          opacity: 1; }
        ul.menu-ul li a {
          display: block;
          margin: 0 auto;
          color: rgba(255, 255, 255, 0.7);
          font-family: "Julius Sans One", sans-serif;
          font-size: 18px;
          letter-spacing: 2px;
          text-transform: uppercase;
          text-align: center; } }

footer {
  width: 100%;
  padding: 60px 0 0;
  position: relative;
  background-color: #313131; }
  footer ul.footer {
    width: 100%; }
    footer ul.footer li.section:not(:last-of-type) {
      margin-bottom: 70px; }
    footer ul.footer li.section ul.wrap {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 100%;
      padding: 0 20px; }
      footer ul.footer li.section ul.wrap:after {
        content: "";
        display: block;
        clear: both; }
      footer ul.footer li.section ul.wrap h2 {
        margin-bottom: 23px;
        text-align: center;
        color: rgba(255, 255, 255, 0.9); }
      footer ul.footer li.section ul.wrap li {
        float: left;
        color: rgba(255, 255, 255, 0.75); }
    footer ul.footer li.location ul.wrap {
      width: 100%;
      padding: 0 20px; }
      footer ul.footer li.location ul.wrap li.icon {
        text-align: right;
        width: 30%; }
        footer ul.footer li.location ul.wrap li.icon i {
          font-size: 55px; }
      footer ul.footer li.location ul.wrap li.text {
        width: 70%; }
        footer ul.footer li.location ul.wrap li.text:after {
          content: "";
          display: block;
          clear: both; }
        footer ul.footer li.location ul.wrap li.text p {
          text-align: center;
          color: rgba(255, 255, 255, 0.75); }
    footer ul.footer li.location div.link {
      margin-top: 30px;
      text-align: center; }
      footer ul.footer li.location div.link a {
        text-decoration: underline;
        color: rgba(255, 255, 255, 0.9); }
        footer ul.footer li.location div.link a i {
          font-size: 20px; }
    footer ul.footer li.call ul.wrap li.phone {
      width: 70%;
      text-align: center; }
      footer ul.footer li.call ul.wrap li.phone a {
        color: rgba(255, 255, 255, 0.75); }
    footer ul.footer li.call ul.wrap li.icon {
      width: 30%; }
      footer ul.footer li.call ul.wrap li.icon i {
        font-size: 55px; }
    footer ul.footer li.social ul.wrap li {
      width: 33.33333%;
      text-align: center; }
      footer ul.footer li.social ul.wrap li a {
        color: rgba(255, 255, 255, 0.75); }
        footer ul.footer li.social ul.wrap li a i {
          font-size: 55px; }
    footer ul.footer li.bottom {
      padding: 30px 0;
      background-color: #000000; }
      footer ul.footer li.bottom ul.wrap li {
        float: none;
        text-align: center; }
      footer ul.footer li.bottom ul.wrap li.logo {
        margin-bottom: 20px; }
        footer ul.footer li.bottom ul.wrap li.logo a img {
          width: 25%;
          height: auto;
          opacity: 0.7; }
      footer ul.footer li.bottom ul.wrap li.copy p {
        color: rgba(255, 255, 255, 0.75); }

section.home {
  overflow: hidden; }
  section.home div.bg-home-face {
    width: 100%;
    background-image: url("../images/BGImageHome2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: TOP LEFT;
    background-size: cover;
    filter: brightness(75%);
    -webkit-filter: brightness(75%); }
  section.home div.home-face {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center; }
    section.home div.home-face div.logo-wrapper {
      position: relative;
      display: block;
      width: 100%;
      height: 83.33333%;
      padding: 0 20px;
      box-sizing: border-box;
      -moz-box-sizing: border-box; }
      section.home div.home-face div.logo-wrapper div.home-logo {
        position: relative;
        width: 100%;
        height: 50%;
        opacity: 0;
        /* Enable hardware acceleration to fix laggy transitions */
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: all 1s ease-in-out;
        /* For Safari 3.1 to 6.0 */
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out; }
        section.home div.home-face div.logo-wrapper div.home-logo div.spacing {
          width: 90%;
          position: absolute;
          top: 75%;
          left: 50%;
          -webkit-transform: translate(-50%, -75%);
          -moz-transform: translate(-50%, -75%);
          -ms-transform: translate(-50%, -75%);
          -o-transform: translate(-50%, -75%);
          transform: translate(-50%, -75%); }
          section.home div.home-face div.logo-wrapper div.home-logo div.spacing img {
            margin: auto;
            width: 100%;
            height: auto;
            max-width: 100%;
            box-sizing: border-box;
            -moz-box-sizing: border-box; }
      section.home div.home-face div.logo-wrapper div.home-text {
        display: block;
        position: relative;
        width: 100%;
        height: 50%;
        box-sizing: border-box;
        -moz-box-sizing: border-box; }
        section.home div.home-face div.logo-wrapper div.home-text div {
          position: absolute;
          top: 40%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
          section.home div.home-face div.logo-wrapper div.home-text div p {
            line-height: 1;
            letter-spacing: 3px;
            color: rgba(255, 255, 255, 0.9);
            justify-content: center;
            text-align: center;
            opacity: 0;
            /* Enable hardware acceleration to fix laggy transitions */
            -webkit-transform: translateZ(0);
            -moz-transform: translateZ(0);
            -ms-transform: translateZ(0);
            -o-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-transition: all 0.4s ease-in-out;
            /* For Safari 3.1 to 6.0 */
            -moz-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
            -webkit-transform: translateY(70px);
            -moz-transform: translateY(70px);
            -ms-transform: translateY(70px);
            -o-transform: translateY(70px);
            transform: translateY(70px); }
            section.home div.home-face div.logo-wrapper div.home-text div p:first-child {
              margin-bottom: 8px; }
            section.home div.home-face div.logo-wrapper div.home-text div p.landing {
              -webkit-transform: translateY(0px);
              -moz-transform: translateY(0px);
              -ms-transform: translateY(0px);
              -o-transform: translateY(0px);
              transform: translateY(0px);
              opacity: 0.9; }
            @media only screen and (min-width: 768px) {
              section.home div.home-face div.logo-wrapper div.home-text div p {
                display: block;
                margin: 0 auto;
                font-size: 1.5em; } }
          section.home div.home-face div.logo-wrapper div.home-text div p.head {
            letter-spacing: 4px;
            font-size: 4em; }
          section.home div.home-face div.logo-wrapper div.home-text div p.foot {
            font-size: 20px; }
      @media only screen and (min-width: 768px) {
        section.home div.home-face div.logo-wrapper {
          height: 40%; } }
    section.home div.home-face div.footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60px;
      padding: 0 35px;
      opacity: 0.7;
      text-align: center;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      			/*a.arrow {
      				i {
      					position: relative;
      					bottom: 10px;
      					font-size: 3em;
      					opacity: 0.6;
      
      				}
      			}*/ }
      section.home div.home-face div.footer:after {
        content: "";
        display: block;
        clear: both; }
      section.home div.home-face div.footer a {
        width: 50px;
        text-align: center;
        color: rgba(255, 255, 255, 0.6); }
        section.home div.home-face div.footer a i {
          font-size: 2em;
          color: white; }
      section.home div.home-face div.footer a.contact {
        float: left; }
        @media only screen and (min-width: 768px) {
          section.home div.home-face div.footer a.contact {
            display: none; } }
      section.home div.home-face div.footer a.find {
        float: right; }
        section.home div.home-face div.footer a.find:after {
          content: "";
          display: block;
          clear: both; }
        @media only screen and (min-width: 768px) {
          section.home div.home-face div.footer a.find {
            display: none; } }
  section.home div.home-content {
    position: relative;
    display: inline-block;
    padding: 60px 0;
    width: 100%;
    background-color: white; }
    section.home div.home-content div.header {
      margin-bottom: 30px;
      padding: 0 20px;
      color: rgba(0, 0, 0, 0.35); }
      section.home div.home-content div.header h1.luxury {
        margin-bottom: 5px;
        text-align: center;
        font-size: 32px; }
      section.home div.home-content div.header h1.mallorca {
        padding: 0 0 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        text-align: center;
        font-size: 55px; }
    section.home div.home-content div.intro {
      margin-bottom: 60px; }
      section.home div.home-content div.intro p {
        padding: 0 20px;
        text-align: justify;
        word-wrap: break-word;
        word-spacing: 0.10em;
        color: black;
        font-size: 18px; }
    section.home div.home-content div.bg-image-1 {
      width: auto;
      height: 150px;
      margin: 0 20px 60px 20px;
      background-image: url("../images/ModelHairDryerMob.png");
      background-repeat: no-repeat;
      background-position: center left;
      background-size: 100% auto; }
    section.home div.home-content div.services-wrapper {
      width: 100%; }
      section.home div.home-content div.services-wrapper div.service {
        margin: 0 10%;
        text-align: center; }
        section.home div.home-content div.services-wrapper div.service:not(:last-child) {
          padding-bottom: 50px;
          margin-bottom: 50px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
        section.home div.home-content div.services-wrapper div.service h1 {
          width: 100%;
          margin-bottom: 30px; }
        section.home div.home-content div.services-wrapper div.service img {
          margin: 0 auto;
          margin-bottom: 10px; }
        section.home div.home-content div.services-wrapper div.service p {
          width: 270px;
          margin-bottom: 70px;
          display: inline-block; }
        section.home div.home-content div.services-wrapper div.service a {
          margin: 0 auto;
          padding: 15px 50px;
          display: inline-block;
          border: 1px solid rgba(0, 0, 0, 0.35);
          border-radius: 5px;
          color: black;
          font-size: 18px;
          text-decoration: none;
          font-weight: bold;
          cursor: pointer; }
          section.home div.home-content div.services-wrapper div.service a:active {
            background-color: black;
            border: 1px solid black;
            color: white; }

section.services div.line-one {
  height: 120px;
  border-right: 2px solid #b5b5b5;
  margin: 0px 50% 30px 0px; }
section.services header h1 {
  text-align: center; }
section.services header h1.one {
  margin: 20px 0 0 0;
  font-size: 4em;
  font-family: "Julius Sans One", sans-serif;
  font-weight: bold;
  line-height: 0.8;
  color: #2098ca; }
section.services header h1.two {
  font-size: 1.96em; }
section.services p.content {
  margin: 30px 20px;
  padding: 20px 0px;
  border-top: 1px solid #b5b5b5;
  font-size: 2em; }
section.services div.services-wrapper div.service:not(:last-child) {
  margin-bottom: 50px; }
section.services div.services-wrapper div.service div.head {
  margin-bottom: 20px;
  padding: 0 20px;
  display: flex; }
  section.services div.services-wrapper div.service div.head div.image {
    display: flex;
    height: 120px;
    width: 45%; }
    section.services div.services-wrapper div.service div.head div.image img {
      margin: auto;
      height: 120px;
      width: 120px;
      border-radius: 50%; }
  section.services div.services-wrapper div.service div.head div.head-text {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center; }
section.services div.services-wrapper div.service div.text {
  padding: 0 20px; }
  section.services div.services-wrapper div.service div.text p {
    font-size: 18px;
    text-align: justify;
    word-wrap: break-word;
    word-spacing: 0.10em;
    color: black; }
    section.services div.services-wrapper div.service div.text p a {
      text-decoration: underline;
      color: rgba(0, 0, 0, 0.35); }

section.about {
  position: relative; }
  section.about div.founder {
    padding-top: 60px; }
    section.about div.founder h1.header {
      margin-bottom: 30px;
      padding-top: 30px;
      text-align: center;
      font-size: 40px;
      letter-spacing: 3px;
      opacity: 0.4; }
    section.about div.founder div.image {
      height: 175px;
      width: auto;
      margin: 0 20px 30px 20px;
      background-image: url("../images/DesiPortraitMob.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100% auto; }
    section.about div.founder div.founder-text {
      position: relative; }
      section.about div.founder div.founder-text h1 {
        text-align: center;
        color: rgba(0, 0, 0, 0.35); }
      section.about div.founder div.founder-text p {
        padding: 15px 20px 30px 20px;
        text-align: justify;
        word-wrap: break-word;
        word-spacing: 0.10em;
        font-size: 18px; }
  section.about div.story {
    background-color: #5a5a5a; }
    section.about div.story h1 {
      margin-bottom: 30px;
      padding-top: 30px;
      text-align: center;
      font-size: 40px;
      letter-spacing: 3px;
      color: white;
      opacity: 0.4; }
    section.about div.story p {
      padding: 0 20px 30px 20px;
      text-align: justify;
      word-wrap: break-word;
      word-spacing: 0.10em;
      color: black;
      font-size: 18px;
      color: #dadada; }

section.contact {
  padding-top: 60px;
  background-color: rgba(0, 0, 0, 0.75); }
  section.contact h1 {
    margin: 30px 0;
    padding: 0 20px;
    font-size: 25px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 4px;
    line-height: 1.5; }
  section.contact div.address {
    padding: 0 20%;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    section.contact div.address div.icon i {
      font-size: 60px;
      color: rgba(255, 255, 255, 0.6); }
    section.contact div.address div.text p {
      line-height: 1.5;
      color: white;
      text-align: center;
      font-family: "Julius Sans One", sans-serif; }
  section.contact div.map {
    height: 400px; }

.scale-spinner-down {
  animation: hide 0.4s linear forwards; }

.wrapper {
  max-width: 960px;
  width: 100%;
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
  position: relative; }

.center {
  /* Centering the element inside */
  display: table;
  /* Allow the centering to work */
  margin: 0px auto; }

.nav-fixed {
  position: fixed;
  width: 100%;
  top: 0; }

button:focus {
  outline: 0; }
button:hover {
  cursor: pointer; }

.active {
  color: white !important;
  opacity: 1; }

.centerVH {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

html {
  height: 100%; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: white; }

h1, h2, h3, h4, h5, p, a {
  font-family: "Julius Sans One", sans-serif; }

p {
  line-height: 1.5; }

a {
  text-decoration: none;
  cursor: pointer; }

textarea, input, button {
  outline: none; }

div#scroller-top {
  position: fixed;
  bottom: -100px;
  right: 25px;
  font-size: 3em;
  color: #942323;
  display: block;
  z-index: 9998;
  transition: all 0.6s ease-in-out; }

section.index {
  position: relative; }

/*# sourceMappingURL=main.css.map */
