div.fixed-bar {
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  opacity: 0.7;
  background-color: #000000;
  color: white; }
  div.fixed-bar div.sub-fixed-bar {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%; }
    div.fixed-bar div.sub-fixed-bar div#logo-nav {
      height: 100%;
      z-index: 101;
      padding: 15px 20px;
      box-sizing: border-box;
      -moz-box-sizing: border-box; }
      div.fixed-bar div.sub-fixed-bar div#logo-nav a img {
        height: 100%; }
      @media only screen and (min-width: 1025px) {
        div.fixed-bar div.sub-fixed-bar div#logo-nav {
          padding: 15px 50px; } }
    div.fixed-bar div.sub-fixed-bar div#menu-trigger {
      position: absolute;
      display: block;
      margin: 20px 25px;
      right: 0;
      top: 0;
      height: 20px;
      width: 35px;
      box-sizing: border-box;
      -moz-box-sizing: border-box; }
      div.fixed-bar div.sub-fixed-bar div#menu-trigger span {
        position: absolute;
        display: block;
        width: 35px;
        height: 2px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        background-color: white; }
      div.fixed-bar div.sub-fixed-bar div#menu-trigger span.bar-2 {
        top: 9px; }
      div.fixed-bar div.sub-fixed-bar div#menu-trigger span.bar-3 {
        top: 18px; }
      @media only screen and (min-width: 768px) {
        div.fixed-bar div.sub-fixed-bar div#menu-trigger {
          display: none; } }

ul.menu-ul {
  opacity: 0;
  position: fixed;
  padding: 20px 0;
  width: 100%;
  z-index: 99;
  background-color: #0e0e0e;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }
  ul.menu-ul li {
    padding: 20px 20px;
    height: 70px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; }
    ul.menu-ul li:nth-child(even) {
      display: none; }
    ul.menu-ul li a {
      display: block;
      margin: 0 auto;
      color: rgba(255, 255, 255, 0.7);
      font-family: "Julius Sans One", sans-serif;
      font-size: 18px;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-align: center; }
    @media only screen and (max-width: 768px) and (orientation: landscape) {
      ul.menu-ul li {
        height: 40px;
        padding: 10px 20px; } }
  @media only screen and (min-width: 768px) {
    ul.menu-ul {
      display: table;
      width: auto;
      padding: 0;
      height: 60px;
      top: 0;
      right: 0;
      padding-right: 20px;
      z-index: 101;
      opacity: 1;
      background-color: transparent;
      box-sizing: border-box;
      -moz-box-sizing: border-box; }
      ul.menu-ul li {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        float: left;
        width: auto;
        margin: 22.5px 0;
        padding: 0;
        height: 15px;
        border-style: none;
        opacity: 0.80;
        background-color: transparent;
        font-size: 13px;
        line-height: 1;
        /* Enable hardware acceleration to fix laggy transitions */
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: all 0.3s ease;
        /* For Safari 3.1 to 6.0 */
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        ul.menu-ul li:nth-child(even) {
          padding-right: 10px;
          margin-right: 10px;
          border-right: 1px solid #7E7E7E;
          display: list-item; }
        ul.menu-ul li:hover, ul.menu-ul li:focus {
          color: rgba(255, 255, 255, 0.95) !important;
          opacity: 1; }
        ul.menu-ul li a {
          display: block;
          margin: 0 auto;
          color: rgba(255, 255, 255, 0.7);
          font-family: "Julius Sans One", sans-serif;
          font-size: 15px;
          letter-spacing: 2px;
          text-transform: uppercase;
          text-align: center; } }
  @media only screen and (min-width: 1025px) {
    ul.menu-ul {
      display: table;
      width: auto;
      padding: 0;
      height: 60px;
      top: 0;
      right: 0;
      padding-right: 50px;
      z-index: 101;
      opacity: 1;
      background-color: transparent;
      box-sizing: border-box;
      -moz-box-sizing: border-box; }
      ul.menu-ul li {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        float: left;
        width: auto;
        margin: 20px 0;
        padding: 0;
        height: 20px;
        border-style: none;
        opacity: 0.80;
        background-color: transparent;
        line-height: 1;
        /* Enable hardware acceleration to fix laggy transitions */
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: all 0.3s ease;
        /* For Safari 3.1 to 6.0 */
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        ul.menu-ul li:nth-child(even) {
          padding-right: 16px;
          margin-right: 16px;
          border-right: 1px solid #7E7E7E;
          display: list-item; }
        ul.menu-ul li:hover, ul.menu-ul li:focus {
          color: rgba(255, 255, 255, 0.85) !important;
          opacity: 1; }
        ul.menu-ul li a {
          display: block;
          margin: 0 auto;
          color: rgba(255, 255, 255, 0.7);
          font-family: "Julius Sans One", sans-serif;
          font-size: 18px;
          letter-spacing: 2px;
          text-transform: uppercase;
          text-align: center; } }

footer {
  width: 100%;
  padding: 60px 0 0;
  background-color: #313131; }
  footer ul.footer {
    width: 100%; }
    footer ul.footer li.section:not(:last-of-type) {
      margin-bottom: 70px; }
    footer ul.footer li.section ul.wrap {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 100%;
      padding: 0 20px; }
      footer ul.footer li.section ul.wrap:after {
        content: "";
        display: block;
        clear: both; }
      footer ul.footer li.section ul.wrap h2 {
        margin-bottom: 23px;
        text-align: center;
        color: rgba(255, 255, 255, 0.9); }
      footer ul.footer li.section ul.wrap li {
        float: left;
        color: rgba(255, 255, 255, 0.75); }
    footer ul.footer li.location ul.wrap {
      width: 100%;
      padding: 0 20px; }
      footer ul.footer li.location ul.wrap li.icon {
        text-align: right;
        width: 30%; }
        footer ul.footer li.location ul.wrap li.icon i {
          font-size: 55px; }
      footer ul.footer li.location ul.wrap li.text {
        width: 70%; }
        footer ul.footer li.location ul.wrap li.text:after {
          content: "";
          display: block;
          clear: both; }
        footer ul.footer li.location ul.wrap li.text p {
          text-align: center;
          color: rgba(255, 255, 255, 0.75); }
    footer ul.footer li.location div.link {
      margin-top: 30px;
      text-align: center; }
      footer ul.footer li.location div.link a {
        text-decoration: underline;
        color: rgba(255, 255, 255, 0.9); }
        footer ul.footer li.location div.link a i {
          font-size: 20px; }
    footer ul.footer li.call ul.wrap li.phone {
      width: 70%;
      text-align: center; }
      footer ul.footer li.call ul.wrap li.phone a {
        color: rgba(255, 255, 255, 0.75); }
    footer ul.footer li.call ul.wrap li.icon {
      width: 30%; }
      footer ul.footer li.call ul.wrap li.icon i {
        font-size: 55px; }
    footer ul.footer li.social ul.wrap li {
      width: 33.33333%;
      text-align: center; }
      footer ul.footer li.social ul.wrap li a {
        color: rgba(255, 255, 255, 0.75); }
        footer ul.footer li.social ul.wrap li a i {
          font-size: 55px; }
    footer ul.footer li.bottom {
      padding: 30px 0;
      background-color: #000000; }
      footer ul.footer li.bottom ul.wrap li {
        float: none;
        text-align: center; }
      footer ul.footer li.bottom ul.wrap li.logo {
        margin-bottom: 20px; }
        footer ul.footer li.bottom ul.wrap li.logo a img {
          width: 25%;
          height: auto;
          opacity: 0.7; }
      footer ul.footer li.bottom ul.wrap li.copy p {
        color: rgba(255, 255, 255, 0.75); }

section.home {
  overflow: hidden; }
  section.home div.background {
    width: 100%;
    height: 100%;
    background-image: url("../images/BGImageHome2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: brightness(75%);
    -webkit-filter: brightness(75%); }
    section.home div.background:after {
      content: "";
      display: block;
      clear: both; }
  section.home div.content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center; }
    section.home div.content div.logo-wrapper {
      position: relaive;
      width: 100%;
      height: 83.33333%;
      padding: 0 20px;
      box-sizing: border-box;
      -moz-box-sizing: border-box; }
      section.home div.content div.logo-wrapper div.home-logo {
        position: relative;
        width: 100%;
        height: 50%; }
        section.home div.content div.logo-wrapper div.home-logo div.spacing {
          width: 60%;
          position: absolute;
          top: 75%;
          left: 50%;
          transform: translate(-50%, -75%); }
          section.home div.content div.logo-wrapper div.home-logo div.spacing img {
            margin: auto;
            width: 100%;
            height: auto;
            max-width: 100%;
            opacity: 0.7;
            box-sizing: border-box;
            -moz-box-sizing: border-box; }
      section.home div.content div.logo-wrapper div.home-text {
        position: relative;
        height: 50%;
        box-sizing: border-box;
        -moz-box-sizing: border-box; }
        section.home div.content div.logo-wrapper div.home-text div {
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%); }
          section.home div.content div.logo-wrapper div.home-text div p {
            font-size: 1.2em;
            line-height: 1;
            letter-spacing: 3px;
            color: rgba(255, 255, 255, 0.75);
            justify-content: center;
            text-align: center;
            opacity: 0.9; }
            section.home div.content div.logo-wrapper div.home-text div p:nth-child(-n + 2) {
              margin-bottom: 55px; }
            @media only screen and (min-width: 768px) {
              section.home div.content div.logo-wrapper div.home-text div p {
                display: block;
                margin: 0 auto;
                font-size: 1.5em; } }
      @media only screen and (min-width: 768px) {
        section.home div.content div.logo-wrapper {
          height: 40%; } }
    section.home div.content div.footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60px;
      padding: 15px 35px;
      opacity: 0.7;
      text-align: center;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      			/*a.arrow {
      				i {
      					position: relative;
      					bottom: 10px;
      					font-size: 3em;
      					opacity: 0.6;
      
      				}
      			}*/ }
      section.home div.content div.footer:after {
        content: "";
        display: block;
        clear: both; }
      section.home div.content div.footer a {
        width: 50px;
        text-align: center;
        color: rgba(255, 255, 255, 0.6); }
        section.home div.content div.footer a i {
          font-size: 2em;
          color: white; }
      section.home div.content div.footer a.contact {
        float: left; }
        @media only screen and (min-width: 768px) {
          section.home div.content div.footer a.contact {
            display: none; } }
      section.home div.content div.footer a.find {
        float: right; }
        section.home div.content div.footer a.find:after {
          content: "";
          display: block;
          clear: both; }
        @media only screen and (min-width: 768px) {
          section.home div.content div.footer a.find {
            display: none; } }

section.services div.line-one {
  height: 120px;
  border-right: 2px solid #b5b5b5;
  margin: 0px 50% 30px 0px; }
section.services header h1 {
  text-align: center; }
section.services header h1.one {
  margin: 20px 0 0 0;
  font-size: 4em;
  font-family: "Julius Sans One", sans-serif;
  font-weight: bold;
  line-height: 0.8;
  color: #2098ca; }
section.services header h1.two {
  font-size: 1.96em; }
section.services p.content {
  margin: 30px 20px;
  padding: 20px 0px;
  border-top: 1px solid #b5b5b5;
  font-size: 2em; }

.wrapper {
  max-width: 960px;
  width: 100%;
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
  position: relative; }

.center {
  /* Centering the element inside */
  display: table;
  /* Allow the centering to work */
  margin: 0px auto; }

.nav-fixed {
  position: fixed;
  width: 100%;
  top: 0; }

button:focus {
  outline: 0; }
button:hover {
  cursor: pointer; }

.active {
  color: white !important;
  opacity: 1; }

.centerVH {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  background-color: white; }

h1, h2, h3, h4, h5, p, a {
  font-family: "Julius Sans One", sans-serif; }

a {
  text-decoration: none;
  cursor: pointer; }

textarea, input, button {
  outline: none; }

span#scroller-top {
  position: fixed;
  top: 85%;
  left: 92%;
  font-size: 4em;
  color: rgba(73, 176, 230, 0.39);
  display: none; }
  span#scroller-top:hover {
    -webkit-transform: scale(1.1) !important;
    -moz-transform: scale(1.1) !important;
    -ms-transform: scale(1.1) !important;
    -o-transform: scale(1.1) !important;
    transform: scale(1.1) !important; }

section.index {
  position: relative;
  border-bottom: 1px solid grey;
  background-color: white; }

/*# sourceMappingURL=main.css.map */
