.services {
	.services-nav {
		margin: 30px auto 60px;

		h1 {
			text-align: center;
			margin-bottom: 30px;
		}

		ul {
			width: 60%;
			max-width: 250px;
			margin: 0 auto;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;

			.option {
				@include boxSizing(border-box);
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				padding: 7px 15px;
				border-radius: 3px;

				border: 1px solid rgba($redShade, .15);
				background-color: rgba(0, 0, 0, .02);
				box-shadow: 0 8px 7px -5px rgba(black, .15);
				color: rgba(black, .8);
				letter-spacing: 2px;
				font-weight: bold;
				font-style: italic;
				text-align: center;
				cursor: pointer;

				&:not(last-child) {
					margin-bottom: 14px;
				}
			}

			.top-line {
				width: 50%;
				margin: 0 auto 30px;
				border-top: 1px solid rgba(black, .1);
			}

			.bottom-line {
				width: 50%;
				margin: 16px auto 0;
				border-top: 1px solid rgba(black, .1);
			}
		}
	}

	.services-wrapper {
		position: relative;

		.service {
			max-width: 800px;
			margin: 0 auto;
			padding: 20px 20px 100px;

			&:nth-child(even) {
				.head {
					.head-text {
						order: 0;
					}
				}
			}

			.head {
				margin-bottom: 40px;

				display: flex;
				flex-wrap: wrap;
				justify-content: space-evenly;

				.img-container {
					height: 120px;

					img {
						height: 100%;
						width: auto;
						position: relative;
					}
				}

				.head-text {
					min-height: 100px;
					padding: 0 10px;
					display: flex;
					justify-content: center;
					align-items: center;

					h1 {
						text-align: center;
					}
				}
			}

			.text {

				p {
					text-align: justify;
					word-wrap: break-word;
					word-spacing: 0.10em;
					color: $primary_black;

					&:not(:first-child) {
						margin-top: 10px;
					}
				}
			}
		}

		// individual sections styling

		.hair {
			.head .img-container .img-wrapper img {
				left: -50px;
			}

			.text {
				ul {
					width: 85%;
					padding: 20px 30px;
					margin: 30px auto 0;
					background-color: $grayShade;

					@include boxSizing(border-box);

					h4 {
						text-align: center;
						margin-bottom: 10px;
					}

					li {
						list-style: initial;
						list-style-type: disc;
						list-style-position: inside;
						color: rgba(black, .8);
					}
				}
			}
		}

		.skin .head .img-container .img-wrapper img {
			left: -16px;
		}

		.nails .head .img-container .img-wrapper img {
			left: -60px;
		}

		.body .head .img-container .img-wrapper img {
			left: -22px;
		}
	}
}



// MEDIA QUERIES
@import "services-media";
