section.services {


	div.services-wrapper {
		position: relative;

		div.service {
			padding: 20px 0 60px;

			div.head {
				margin-bottom: 20px;
				padding: 0 20px;

				@include display-flex;

				div.image {
					@include display-flex;

					height: 120px;
					width: 45%;

					img {
						margin: auto;
						height: 120px;
						width: 120px;
						border-radius: 50%;
					}
				}

				div.head-text {
					@include display-flex;
					@include justify-content-center;
					@include align-items-center;

					width: 55%;

					h1 {

					}
				}
			}

			div.text {
				padding: 0 20px;

				p {
					font-size: 18px;
					text-align: justify;
					word-wrap: break-word;
					word-spacing: 0.10em;
					color: $primary_black;

					a {
						text-decoration: underline;
						color: $ternary_black;
					}
				}
			}
		}
	}
}



// MEDIA QUERIES
@import "services-media";
