.services {
	.services-nav {
		margin: 30px auto 60px;

		h3 {
			text-align: center;
			margin-bottom: 30px;
		}

		ul {
			width: 50%;
			margin: 0 auto;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;

			li {
					@include boxSizing(border-box);
					width: 100%;
					margin-left: auto;
					margin-right: auto;
					padding: 7px 15px;
					border-radius: 5px;
					border: 1px solid white;
					background-color: $redShade;
					color: rgba(white, .8);
					letter-spacing: 2px;
					font-weight: bold;
					font-style: italic;
					text-align: center;

					&:not(last-child) {
						margin-bottom: 6px;
					}
			}
		}
	}

	.services-wrapper {
		position: relative;

		.service {
			margin: 0 auto;
			padding: 20px 20px 60px;

			.head {
				margin-bottom: 20px;
				padding: 0 20px;

				@include display-flex;

				.img-container {
					height: 120px;
					width: 45%;

					.img-wrapper {
						margin: auto;
						height: 120px;
						width: 120px;
						border-radius: 50%;
						overflow: hidden;

						img {
							height: 100%;
							width: auto;
							position: relative;
						}
					}
				}

				.head-text {
					@include display-flex;
					@include justify-content-center;
					@include align-items-center;

					width: 55%;

					h1 {
						text-align: center;
					}
				}
			}

			.text {

				p {
					text-align: justify;
					word-wrap: break-word;
					word-spacing: 0.10em;
					color: $primary_black;

					&:not(:first-child) {
						margin-top: 10px;
					}
				}
			}
		}

		.hair .head .img-container .img-wrapper img {
			left: -50px;
		}
		.skin .head .img-container .img-wrapper img {
			left: -16px;
		}
		.nails .head .img-container .img-wrapper img {
			left: -60px;
		}
		.body .head .img-container .img-wrapper img {
			left: -22px;
		}
	}
}



// MEDIA QUERIES
@import "services-media";
