section.home {
	overflow: hidden;

	div.bg-home-face {
		width: 100%;	
		background-image: url('../images/BGImageHome2.jpg');
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: top center;
		background-size: fill;
		//opacity: 0.5;

		filter: brightness(75%);
		-webkit-filter: brightness(75%);


	}

	div.home-face {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
  		width: 100%;
  		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-ms-flex-align: center;
		-webkit-align-items: center;
		-webkit-box-align: center;
		align-items: center;			

		div.logo-wrapper {
			position: relative;
			display: block;
			width: 100%;
			height: ((100/120) *100%);
			padding: 0 20px;
		
			@include boxSizing(border-box);

			div.home-logo {
				position: relative;
				width: 100%;
				height: 50%;
				opacity: 0;
				@include transition(all 1.2s ease-in-out);


				div.spacing {
					width: 90%;
					position: absolute;
					top: 75%; left: 50%;
					
					@include transform(translate(-50%, -75%));		
					
					img {
						margin: auto;
						width: 100%;
						height: auto;
						max-width: 100%;


						@include boxSizing(border-box);
					}
				}
			}

			div.home-text {
				display: block;
				position: relative;
				width: 100%;
				height: 50%;

				@include boxSizing(border-box);
				
				div {
					position: absolute;
					top: 40%; left: 50%;
					
					@include transform(translate(-50%, -50%));

					p {
						@include first(1) {
							margin-bottom: 8px;
						}

						line-height: 1;
						letter-spacing: 3px;
						color: $primary_white;
						justify-content: center;
						text-align: center;
						opacity: 0;

						@include transition(all 0.4s ease-in-out);
						@include transform(translateY(70px));

						&.landing {
							@include transform(translateY(0px));

							opacity: 0.9;
						}

						// Desktop
						@media only screen and(min-width: 768px) {
							display: block;
							margin: 0 auto;
							font-size: 1.5em;
						}
					}	

					p.head {
						letter-spacing: 4px;
						font-size: 4em;
					}

					p.foot {
						font-size: 20px;
					}
				}
			}

			// Desktop
			@media only screen and(min-width: 768px) {
				height: 40%;
			}
		}

		div.footer {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 60px;
			padding: 0 35px;
			
			opacity: 0.7;
			text-align: center;

			@include clearFix();
			@include boxSizing(border-box);
			
			a {
				width: 50px;
				text-align: center;
				color: rgba(255, 255, 255, 0.6);

				i {
					font-size: 2em;
					color: white;
				}
			}

			a.contact {
				float: left;

				@media only screen and(min-width: 768px) {
					display: none;
				}
			}	

			/*a.arrow {
				i {
					position: relative;
					bottom: 10px;
					font-size: 3em;
					opacity: 0.6;

				}
			}*/

			a.find {
				float: right;
				@include clearFix();

				@media only screen and(min-width: 768px) {
					display: none;
				}
			}
		}
	}

	div.home-content {
			position: relative;
			display: inline-block;
			padding: 60px 0;
			width: 100%;
			background-color: white;

			div.header {
				margin-bottom: 30px;
				padding: 0 20px;
				color: $ternary_black;
	
				h1.luxury {
					margin-bottom: 5px;
					text-align: center;
					font-size: 32px;
				}

				h1.mallorca {
					padding: 0 0 10px;
					border-bottom: 1px solid rgba(0, 0, 0, 0.30);
					text-align: center;
					font-size: 55px;
				}
			}	

			div.intro {
				margin-bottom: 60px;

				p {
					padding: 0 20px;
					text-align: justify;
					word-wrap: break-word;
					word-spacing: 0.10em;
					color: $primary_black;
					font-size: 18px;
				}
			}	

			div.bg-image-1 {
				width: 100%;
				height: 150px;
				margin-bottom: 60px;
				background-image: url('../images/lightBallsMob.jpg');
				background-attachment: initial;
				background-repeat: no-repeat;
				background-position: bottom center;
				background-size: cover;

			}

			div.services-wrapper {

				div.service {
					&:not(:last-child) {
						margin-bottom: 50px
					}

					div.head {
						margin-bottom: 20px;
						padding: 0 20px;
						display: flex;

						div.image {	
							display: flex;
							height: 120px;
							width: 45%;

							img {
								margin: auto;
								height: 120px;
								width: 120px;
								border-radius: 50%;
							}
						}

						div.head-text {
							width: 55%;
							display: flex;
							justify-content: center;
							align-items: center;

							h1 {

							}
						}
					}

					div.text {
						padding: 0 20px;

						p {
							font-size: 18px;
							text-align: justify;
							word-wrap: break-word;
							word-spacing: 0.10em;
							color: $primary_black;

							a {
								text-decoration: underline;
								color: $ternary_black;
							}
						}
					}
				}
			}
		}
}