section.home {
	overflow: hidden;
	
	.slanted-container {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;


		.landing-top {
			height: 60px;
			width: 100%;
			position: absolute;
			top: -45px;
			left: 0;
			z-index: -1;

			background-color: #e4e2e2;
			opacity: 1;

			&:after {
				height: inherit;
				width: 100%;
				position: absolute;
				transform-origin: top left;
				transform: skewY(7deg);

				content: '';
				background-color: inherit;
				opacity: inherit;
				border-bottom: 1px solid rgba(167, 82, 82, .4);
			}

			@media screen and(orientation: landscape) {
				height: 72px;
			}
		}

		.landing-bottom {
			height: 200px;
			width: 100%;
			position: absolute;
			top: 335px;
			left: 0;
			z-index: -1;

			background-color: #e4e2e2;
			opacity: 1;
	
			&:before {
				height: 100%;
				width: 100%;
				position: absolute;
				transform-origin: bottom left;
				transform: skewY(7deg);

				content: '';
				background-color: inherit;
				opacity: inherit;
			}

			&:after {
				height: 100%;
				width: 100%;
				position: absolute;
				transform-origin: top right;
				transform: skewY(7deg);

				content: '';
				background-color: inherit;
				opacity: inherit;
				border-top: 1px solid rgba(167, 82, 82, .4);
			}
		}

		.middle-1 {
			height: 650px;
			width: 100%;
			position: absolute;
			top: 51%;
			left: 0;
			z-index: -1;

			background-color: #e4e2e2;
			opacity: 1;
		
			&:before {
				height: 100%;
				width: 100%;
				position: absolute;
				transform-origin: bottom left;
				transform: skewY(-7deg);

				content: '';
				background-color: inherit;
				opacity: inherit;
			}

			&:after {
				height: 100%;
				width: 100%;
				position: absolute;
				transform-origin: top left;
				transform: skewY(7deg);

				content: '';
				background-color: inherit;
				opacity: inherit;
			}
		}

		.bottom	{
			height: 150px;
			width: 100%;
			position: absolute;
			bottom: -150px;
			left: 0;
			z-index: -1;

			transform-origin: top left;
			transform: skewY(-7deg);
			background-color: #e4e2e2;
		}
	}

	.home-logo {
		height: 100%;
  		width: 100%;
		position: relative;
		top: 0;
		left: 0;
		margin: 355px 0 70px;

  		@include display-flex;
  		@include align-items-center;

		div.logo {
			width: 70%;
			position: relative;
			margin: 0 auto;
			opacity: 0;
			@include transition(all 1s ease-in-out);

			img {
				width: 100%;
				height: auto;
				max-width: 100%;
			}

			@media screen and(orientation: landscape) {
				width: 50%;
				
			}
		}

		// Desktop
		@media only screen and(min-width: 768px) {
			height: 40%;
		}
	}

	.home-img {
		width: 150%;
		margin: 0px auto 20px;
		position: absolute;
		top: 15px;
		z-index: -2;

		img {
			display: block;
			height: auto;
			width: 100%;
		}

		.brighten {
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;

			//background-color: rgba(255, 255, 255, .1);
		}

		@media screen and(orientation: landscape) {
			width: 67%;
			margin: 82px auto 20px;
		}
	}	

	

	div.home-content {
		width: 100%;
		margin: 0px 0 50px;
		position: relative;
		display: inline-block;
		background-color: transparent;

		div.header {
			margin: 0 auto 33px;
			padding: 0 20px;
			color: #7b7b7b;

			text-align: center;

			h1.luxury {
				display: inline-block;
				margin-bottom: 5px;
				text-align: center;
				font-size: 25px;
			}

			h1.mallorca {
				display: inline-block;
				padding: 0 0 10px;
				border-bottom: 1px solid #7b7b7b;
				text-align: center;
				font-size: 41px;
			}
		}	

		div.intro {
			margin: 0 auto 60px;
			padding: 0 20px;
			width: 76%;

			p {
				text-align: justify;
				word-wrap: break-word;
				word-spacing: 0.10em;
				color: $primary_black;
				font-size: 18px;
			}
		}	

		div.bg-image-1 {
			width: auto;
			height: 150px;
			margin: 0 20px 60px 20px;
			background-image: url('../images/home/ModelHairDryerMob.png');
			background-repeat: no-repeat;
			background-position: center left;
			background-size: 100% auto;
		}

		div.services-wrapper {
			width: 100%;

			div.service {
				margin: 0 10%;
				text-align: center;

				&:not(:last-child) {
					padding-bottom: 50px;
					margin-bottom: 50px;
					border-bottom: 1px solid rgba(0, 0, 0, 0.15);
				}

				h1 {
					width: 100%;
					margin-bottom: 30px;
				}

				img {
					margin: 0 auto;
					margin-bottom: 10px;
				}

				p {
					width: 270px;
					margin-bottom: 70px;
					display: inline-block;
				}

				a.see-more {
					margin: 0 auto;
					padding: 15px 50px;
					display: inline-block;
					box-shadow: 0 0 30px 0 rgba(0 ,0, 0,  .5);
					
					background-color: #af6060;
					border: 1px solid rgba(255, 255, 255, .9);
					border-radius: 5px;
					color: rgba(255, 255, 255, .85);;
					font-size: 18px;
					text-decoration: none;
					font-weight: bold;
					cursor: pointer;

					&:active {
						background-color: black;
						border: 1px solid black;
						color: white;
					}
				}
			}
		}
		
	}
}