section.services { 

	div.line-one {
		height: 120px;
		//width: 49%;
		border-right: 2px solid #b5b5b5;
		margin: 0px 50% 30px 0px;
	}

	

	header {
		h1 {
			text-align: center;

		}

		h1.one {
			margin: 20px 0 0 0;
			font-size: 4em;
			font-family: $sans-serif;
			font-weight: bold;
			line-height: 0.8;
			color: #2098ca;
		}

		h1.two {
			font-size: 1.96em;
		}
	}

	p.content {
		margin: 30px 20px;
		padding: 20px 0px;
		border-top: 1px solid #b5b5b5;
		//text-align: justify;
		//text-justify: inter-word;
		font-size: 2em;
	}

	div.services-wrapper {

		div.service {
			&:not(:last-child) {
				margin-bottom: 50px
			}

			div.head {
				margin-bottom: 20px;
				padding: 0 20px;
				display: flex;

				div.image {	
					display: flex;
					height: 120px;
					width: 45%;

					img {
						margin: auto;
						height: 120px;
						width: 120px;
						border-radius: 50%;
					}
				}

				div.head-text {
					width: 55%;
					display: flex;
					justify-content: center;
					align-items: center;

					h1 {

					}
				}
			}

			div.text {
				padding: 0 20px;

				p {
					font-size: 18px;
					text-align: justify;
					word-wrap: break-word;
					word-spacing: 0.10em;
					color: $primary_black;

					a {
						text-decoration: underline;
						color: $ternary_black;
					}
				}
			}
		}
	}
}