<div class="login-wallpaper"></div>

<div class="login-wrap">
	<div class="center">
		<h2>Login</h2>

		<form action="" method="post" id="login-form">
			
			<div class="username">
				<input placeholder="Enter Username" type="text" class="flag-neutral" name="username" id="username" autocomplete="off" autofocus="on">
				<i></i>
				<ul id="login-username-errors"></ul> 
			</div>
			<div class="password">
				<input placeholder="Enter Password" type="password" class="flag-neutral" name="password" id="password" autocomplete="off">
				<i></i>
				<ul id="login-password-errors"></ul>
			</div>
			<label for="remember">Remember me</label>
			<input type="checkbox" name="remember" id="remember"><br>
			
			<input type="hidden" name="token" value="<?php echo Token::generate('token'); ?>">
			
			<button type="submit" id="login-submit">Login</button>

		</form>
		
		<div>
			<span>Don't have an account yet? <a href="/foodie/user/register">Register now.</a></span>
			<span>Forgot Username or Password ?</span>
		</div>
	</div>
</div>	

