header {
	position: relative;
	height: 50px;
	width: 100%;
	opacity: 1;
	z-index: 100;

	@include boxSizing(border-box);

	.menu-wrap {
		height: 100vh;
		width: 80%;
		z-index: 100;
		position: fixed;
		top: 0;
		right: -80%;
		opacity: 0;
		background-color: #0f1a25;
		border-left: 5px solid rgba($white, .75);
		visibility: hidden;

		#close-menu {
			position: absolute;
			top: 15px;
			left: 20px;
			color: rgba($white, .7);
			z-index: 100;
			transition: all .4s ease-in-out;

			i {
				font-size: 30px;
			}

			&:hover {
				cursor: pointer;
			}
		}


		.menu {
			height: 100%;
			width: 100%;
			position: relative;

			@include display-flex;
			@include flex-direction-column;
			@include justify-content-center;
			@include boxSizing(border-box);

			li {
				min-height: 50px;
				padding: 15px 0 15px 20px;

				@include even() {
					display: none;
				}

				@include display-flex;
				@include justify-content-flex-start;
				@include boxSizing(border-box);

				a {
					color: rgba(255, 255, 255, 0.70);
					font-family: $heading;
					font-size: 18px;
					letter-spacing: 2px;
					text-transform: uppercase;
					text-align: center;

					img.la-biostethique {
						width: 50%;
						height: auto;
						opacity: 0.7;
					}
				}
			}
		}


	}

	.menu-curtain {
		position: fixed;
		height: 100vh;
		width: 100vh;
		z-index: 99;
		opacity: 0;
		background-color: black;
		visibility: hidden;
	}

	.sub-header {
		height: 100%;
		width: 100%;
		position: relative;
		z-index: 50;

		background-color: $white;

		@include boxSizing(border-box);
		@include display-flex;
		@include justify-content-space-between;
		@include align-items-center;

		#home-btn {
			height: 30px;
			z-index: 101;
			padding-left: 20px;

			@include boxSizing(border-box);

			a {
				i {
					color: black;
				}
			}
		}


		#open-menu {
			position: relative;
			display: block;
			right: 0;
			top: 0;
			height: 20px;
			width: 35px;
			margin-right: 25px;

			@include boxSizing(border-box);

			span {
				position: absolute;
				display: block;
				width: 35px;
				height: 2px;

				@include borderRadius(5px);

				background-color: black;
			}

			span.bar-1 {

			}

			span.bar-2 {
				top: 9px;
			}

			span.bar-3 {
				top: 18px;
			}

		}
	}


}



// MEDIA QUERIES

@import "header-media";
