header {
	position: relative;
	height: 50px;
	width: 100%;
	opacity: 1;
	z-index: 100;

	@include boxSizing(border-box);

	.sub-header {
		height: 100%;
		width: 100%;
		position: relative;
		z-index: 100;

		background-color: $cianShade;

		@include boxSizing(border-box);
		@include display-flex;
		@include justify-content-space-between;
		@include align-items-center;

		#home-btn {
			height: 30px;
			z-index: 101;
			padding-left: 20px;

			@include boxSizing(border-box);

			a {
				i {
					color: black;
				}
			}
		}


		#menu-trigger {
			position: relative;
			display: block;
			right: 0;
			top: 0;
			height: 20px;
			width: 35px;
			margin-right: 25px;

			@include boxSizing(border-box);

			span {
				position: absolute;
				display: block;
				width: 35px;
				height: 2px;

				@include borderRadius(5px);

				background-color: black;
			}

			span.bar-1 {

			}

			span.bar-2 {
				top: 9px;
			}

			span.bar-3 {
				top: 18px;
			}

		}
	}

}

.menu-ul {
	height: 100vh;
	width: 100%;
	z-index: 99;
	position: fixed;
	top: -100vh;
	opacity: 0;

	background-color: #0e0e0e;
	color: $white;

	@include display-flex;
	@include flex-direction-column;
	@include justify-content-center;
	@include boxSizing(border-box);

	li {
		min-height: 50px;
		padding: 20px 0;

		@include even() {
			display: none;
		}

		@include display-flex;
		@include justify-content-center;
		@include boxSizing(border-box);

		a {
			margin: 0 auto;

			color: rgba(255, 255, 255, 0.70);
			font-family: $heading;
			font-size: 18px;
			letter-spacing: 2px;
			text-transform: uppercase;
			text-align: center;

			img.la-biostethique {
				width: 50%;
				height: auto;
				opacity: 0.7;
			}
		}
	}
}

// MEDIA QUERIES

@import "header-media";
