<section class="index home">
	<div class="background"></div>
	<div class="content">
		<div class="logo-wrapper">
			<div class="home-logo">
				<img src="/mdhairandbeauty/webroot/images/MDLogoWhite.svg" alt="MD Logo">
			</div>
			<div class="home-text">
				<p>hair</p>
				<p>beauty</p>
				<p>passion</p>
			</div>
		</div>
		<div class="footer">
			<a href="tel:+123456789" class="contact"><i class="fa fa-phone" aria-hidden="true"></i></a>
			<a class="arrow"><i onclick="nav.btnClick.goToPage('services')" class="fa fa-angle-down"></i></a>
			<a class="find"><i onclick="nav.btnClick.goToPage('find')" class="fa fa-map-marker" aria-hidden="true"></i></a>

		</div>
	</div>
</section>
<section class="index services">
	<div class="line-one"></div>
	<header>	
		<h1 class="one">what</h1>
		<h1 class="two">do we do?</h1>
		<h1>DEBUGING</h1>
	</header>
	<p class="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
</section>
<section class="index gallery">
	<h1>gallery</h1>
</section>
<section class="index partners">
	<h1>partners</h1>
</section>
<section class="index find">
	<h1>Find Us</h1>
</section>
<section class="index about">
	<h1>about</h1>
</section>
<section class="index contact">
	<h1>contact</h1>
</section>

<br>

<?= $data['test_content']?>