<section class="index home">
	<div class="bg-home-face"></div>
	<div class="home-face">
		<div class="logo-wrapper">
			<div class="home-logo">
				<div class="spacing">
					<img src="webroot/images/MDLogoWhite.svg" alt="MD Logo">
				</div>	
			</div>
			<div class="home-text">
				<div class="text-wrap">
					<p class="head">DARE</p>
					<p class="foot">TO BE PRETTY</p>	
				</div>
			</div>
		</div>
		<div class="footer">
			<a href="tel:+123456789" class="contact"><i class="fa fa-phone" aria-hidden="true"></i></a>
			<a href="<?php echo $GLOBALS['environment']; ?>/contact" class="find"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
		</div>
	</div>
	<div class="home-content">

		<div class="header">
			<h1 class="luxury">Luxury salon in</h1>
			<h1 class="mallorca">Mallorca</h1>
		</div>

		<div class="intro">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
		</div>

		<div class="bg-image-1"></div>
		
		<div class="services-wrapper">
			<div class="service hair">
				<h1>Hair Care</h1>
				<img src="http://via.placeholder.com/270x100" alt="Hair Care">
				<p>Not only five centuries, but also the leap into electronic.</p>
				<a href="<?php echo $GLOBALS['environment']; ?>/services#hair">Read More</a>
			</div>
			<div class="service face">
				<h1>Face Care</h1>
				<img src="http://via.placeholder.com/270x100" alt="Face Care">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<a href="<?php echo $GLOBALS['environment']; ?>/services#face">Read More</a>
			</div>
			<div class="service nails">
				<h1>Nails Care</h1>
				<img src="http://via.placeholder.com/270x100" alt="Nails Care">
				<p>It has survived not only five centuries, but also the leap into electronic</p>
				<a href="<?php echo $GLOBALS['environment']; ?>/services#nails">Read More</a>
			</div>
			<div class="service body">
				<h1>Body Care</h1>
				<img src="http://via.placeholder.com/270x100" alt="Body Care">
				<p>When an unknown printer took a galley of type and scrambled it.</p>
				<a href="<?php echo $GLOBALS['environment']; ?>/services#body">Read More</a>
			</div>
		</div>
	</div>
</section>

<!--
	EXAMPLE OF GETTING DATA FROM THE CONTROLLER
	<?= $data['test_content']?>
--> 	