	<section class="index home">
	<div class="background"></div>
	<div class="content">
		<div class="logo-wrapper">
			<div class="home-logo">
				<div class="spacing">
					<img src="webroot/images/MDLogoWhite.svg" alt="MD Logo">
				</div>	
			</div>
			<div class="home-text">
				<div class="centerVH">
					<p>HAIR</p>
					<p>BEAUTY</p>	
					<p>BODY</p>
				</div>
			</div>
		</div>
		<div class="footer">
			<a href="tel:+123456789" class="contact"><i class="fa fa-phone" aria-hidden="true"></i></a>
			<a href="/mdhairandbeauty/contact" class="find"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
		</div>
	</div>
</section>

<!--
	EXAMPLE OF GETTING DATA FROM THE CONTROLLER
	<?= $data['test_content']?>
--> 	