<section class='index about'>
	<h1 class='header-about'>About us</h1>

	<div class='about-card shadow'>
		<div class='header'>
			<img class='image' src="<?php echo $GLOBALS['environment'];?>//webroot/images/about/DesiPortrait.png" alt="Desi Nedelcheva" />
			<div class="name">
				<h2>Desi Nedelcheva</h2>
				<h4>Creative director / Founder</h4>
			</div>
		</div>
		<div class='quote'>
			<ul class='quote-ul'>
				<li class='quote-li'>
					<p class='quote-p'>
						<i class="fas fa-quote-left"></i>
						<i> If you want to change your life,<br /> start from the hair!</i>
						<i class="fas fa-quote-right"></i>
					</p>
				</li>
			</ul>
		</div>
		<div class='info'>
			<p><span class='firstChar'>D</span>esi Nedelcheva is a hairdresser who worked internationally and has built up her experience based on that. She has been invited to participate as a stylist in many fashion shows, pictures for blogs, special celebrity events etc. Her passion and hobby became her profession, how cool is that?!</p>
			<p>Desi is very motivated, persistent and perfectionist which her clients appreciate. She is fully dedicated to her job and this makes her so successful. Meet her for consultation and you will see the difference. The founder specializes in haircuts, color and balayage/color correction.</p>
		</div>
		<div class='quote'>
			<ul class='quote-ul'>
				<li class='quote-li'>
					<p class='quote-p'>
						<i class="fas fa-quote-left"></i>
						<i> My favourite products ...<br />
						Dry Hair Shampoo,<br />
						Hydro SPA Fluid,<br />
						Luxury SPA oil</i>
						<i class="fas fa-quote-right"></i>
					</p>
				</li>
			</ul>
		</div>
	</div>

	<div class='about-article shadow'>
		<div class='header'>
			<div class="name">
				<h2>Why we choose to work with</h2>
				<h2>La Biosthetique?</h2>
			</div>
		</div>

		<div class='info'>
			<p><span class='firstChar'>L</span>a Biosthetique is a family-run company known around the globe, it is based in the fashion capital of the world – Paris. They believe that beauty means a number of things, it can begin with an idea or a specific attitude.</p>
			<p>At La Biosthetique they combine state of the art research with natural ingredients, along with their passion for beauty, they believe that the highest quality is a prerequisite for the “Culture of Total Beauty” not just simply a possibility.</p>
			<p>Within the La Biosthetique Brand, there are different categories, such as Hair care – they believe that hair is a way to express your personality, feelings, and style. To have healthy, stunning hair, start with a healthy scalp, this is why the La Biosthetique scientists have been focusing on these connections.</p>
			<p><strong>Skin Care</strong> – La Biosthetique sees the skin as out link between our bodies and the outside world, the foundation and aim of every beauty care, is to have beautiful, healthy skin. This is why all their beauty products are geared towards this notion.</p>
			<p><strong>Colour & Makeup</strong> – Hair colors are changing along with makeup with every new fashion trend, every La Biosthetique product strives to fulfill the delight and passion of these trends. Yet, they always provide the best quality products.</p>
			<br />
			<p>Because of the wide range of products, we offer free consultation and analysis, so we make sure you will leave MD salon with the right choice.</p>
		</div>
	</div>

</section>
