<section class='index about'>
	<h1 class='header-about'>About us</h1>

	<div class='about-card shadow'>
		<div class='header'>
			<img class='image' src="<?php echo $GLOBALS['environment'];?>//webroot/images/about/DesiPortrait.png" alt="Desi Nedelcheva" />
			<div class="name">
				<h2>Desi Nedelcheva</h2>
				<h4>Creative director / Founder</h4>
			</div>
		</div>
		<div class='quote'>
			<ul class='quote-ul'>
				<li class='quote-li'>
					<p class='quote-p'>
						<i class="fas fa-quote-left"></i>
						<i> If you want to change your life,<br /> start from the hair!</i>
						<i class="fas fa-quote-right"></i>
					</p>
				</li>
			</ul>
		</div>
		<div class='info'>
			<p><span class='firstChar'>D</span>esi Nedelcheva is a hairdresser who worked internationally and has built up her experience based on that. She has been invited to participate as a stylist in many fashion shows, pictures for blogs, special celebrity events etc. Her passion and hobby became her profession, how cool is that?!</p>
			<p>Desi is very motivated, persistent and perfectionist which her clients appreciate. She is fully dedicated to her job and this makes her so successful. Meet her for consultation and you will see the difference. The founder specializes in haircuts, color and balayage/color correction.</p>
		</div>
	</div>

	<div class='about-article shadow'>
		<div class='header'>
			<div class="name">
				<h2>Why to choose us?</h2>
				<h4>Exclusive La Biosthetique salon in Mallorca</h4>
			</div>
		</div>

		<div class='info'>
			<p><span class='firstChar'>T</span>he beauty professionals at MD Hair & Beauty Salon are dedicated to making you look and feel your best, every timeyou walk through our door. We are commited in formal education and training experience a few times per year, which is the key for having satisfiyed clients all year arround. We are the only salon in Mallorca which work exclusively with  the luxury La Biosthetique products for hair, makeup and beauty treatments  toghether.</p>
		</div>
	</div>
	
</section>
