<section class='index about'>
	<h1 class='header-about'>How was our salon born?</h1>
	<p class='prelude'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
	<h1 class='header-about'>Our team</h1>
	<div class='employee shadow'>
		<div class='header'>
			<img class='image shadow' src="<?php echo $GLOBALS['environment'];?>//webroot/images/about/DesiPortrait.png" alt="Desi Nedelcheva" />
			<div class="name">
				<h2>Desi Nedelcheva</h2>
				<h4>Creative director / Founder</h4>
			</div>
		</div>
		<div class='bio'>
			<ul class='bio-ul'>
				<li class='bio-li'><p class='bio-p'><strong>Favourite drink:</strong> Champagne</p></li>
				<li class='bio-li'><p class='bio-p'><strong>Favourite food:</strong> italian</p></li>
				<li class='bio-li'><p class='bio-p'><strong>Speaks:</strong> Bulgarian, English, Spanish<p></li>
			</ul>
		</div>
		<div class='info'>
			<p><span class='firstChar'>D</span>esi Nedelcheva is a hairdresser who worked internationally and has built up her experience based on that. She has been invited to participate as a stylist in many fashion shows, pictures for blogs, special celebrity events etc. Her passion and hobby became her profession, how cool is that?!</p>
			<p>Desi is very motivated, persistent and perfectionist which her clients appreciate. She is fully dedicated to her job and this makes her so successful. Meet her for consultation and you will see the difference. The founder specializes in haircuts, color and balayage/color correction.</p>
		</div>
	</div>

	<div class='employee shadow'>
		<div class='header'>
			<img class='image shadow' src="<?php echo $GLOBALS['environment'];?>//webroot/images/about/SauloPortrait.jpg" alt="Saulo Lemes" />
			<div class="name">
				<h2>Saulo Lemes</h2>
				<h4>Senior stylist</h4>
			</div>
		</div>
		<div class='bio'>
			<ul class='bio-ul'>
				<li class='bio-li'><p class='bio-p'><strong>Favourite drink:</strong> beer</p></li>
				<li class='bio-li'><p class='bio-p'><strong>Favourite food:</strong> mexican</p></li>
				<li class='bio-li'><p class='bio-p'><strong>Speaks:</strong> Portuguese, Spanish<p></li>
			</ul>
		</div>
		<div class='info'>
			<p><span class='firstChar'>S</span>aulo is an enthusiastic young gentleman with great sense of humor and professional skills. He started his career a long time ago helping her mother in their hair-salon in Brasil. Since then he developed a great set of skills, he has the great background of clients and keeps building new ones. He specializes in styling, keratin treatments, and color service.</p>
		</div>
	</div>

	<div class='employee shadow'>
		<div class='header'>
			<img class='image shadow' src="<?php echo $GLOBALS['environment'];?>//webroot/images/about/DianaPortrait.jpg" alt="Diana Lopez" />
			<div class="name">
				<h2>Diana Lopez</h2>
				<h4>Beauty therapist</h4>
			</div>
		</div>
		<div class='bio'>
			<ul class='bio-ul'>
				<li class='bio-li'><p class='bio-p'><strong>Favourite drink:</strong> white wine</p></li>
				<li class='bio-li'><p class='bio-p'><strong>Favourite food:</strong> mediterenian</p></li>
				<li class='bio-li'><p class='bio-p'><strong>Speaks:</strong> Mallorquin, Spanish, English<p></li>
			</ul>
		</div>
		<div class='info'>
			<p><span class='firstChar'>D</span>iana has more than 10 years of experience in the beauty-fields in Mallorca and has many clients on her list. She has been working in top class salons and her customers have been from local celebrities to Top Hollywood stars. Her favorite thing to do in the salon is facial treatment and pedicure.</p>
		</div>
	</div>

</section>
