<footer>		
	<h3>Footer</h3>
</footer>
<links>
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src="<?php ROOT ?>/mdhairbeauty/webroot/js/live_search.js"></script>
	<script src="<?php ROOT ?>/mdhairbeauty/webroot/js/favourites.js"></script>
	<script src="<?php ROOT ?>/mdhairbeauty/webroot/js/effects.js"></script>
	<script src="<?php ROOT ?>/mdhairbeauty/webroot/js/style.js"></script>
	<script src="<?php ROOT ?>/mdhairbeauty/webroot/js/scroll_navigation.js"></script>
	<script src="<?php ROOT ?>/mdhairbeauty/webroot/js/validation/validate.js"></script>
	<script src="<?php ROOT ?>/mdhairbeauty/webroot/js/validation/validate_forms.js"></script>
	<script src="<?php ROOT ?>/mdhairbeauty/webroot/js/lib/jquery.transit.min.js"></script>
	<script src="<?php ROOT ?>/mdhairbeauty/webroot/js/nav.js"></script>
</links>
<span id="scroller-top" class="fa fa-chevron-circle-up"></span>