<footer>
	<div class="content">
		<div class="main">
			<div class="call-location">
				<div class="section call">
					<div class="icon">
						<a class="icons" href="tel:+011232343443">
							<i class="fa fa-phone" aria-hidden="true"></i>
						</a>
					</div>
					<div class="body">
						<a>+34 971 096811</a>
					</div>
				</div>
				<div class="section location">
					<div class="icon">
						<a class="icons"><i class="fa fa-map-signs" aria-hidden="true"></i></a>
					</div>
					<div class="body">
						<p class="body">Passeo Illetas 2,<br>Local 9, 07181 Illetas,<br>Islas Baleares,<br> Spain</p>
						<a class="map-link" href="<?php echo $GLOBALS['environment']; ?>/contact#map">
							<i class="fa fa-map-marker" aria-hidden="true"></i><strong> Go to map</strong>
						</a>
					</div>
				</div>
			</div>
			<div class="email-open-hours">
				<div class="section email">
					<div class="icon">
						<a class="icons" href="mailto:email@md.com">
							<i class="far fa-envelope" aria-hidden="true"></i>
						</a>
					</div>
					<div class="body">
						<a>mdhairsalon17@gmail.com</a>
					</div>
				</div>
				<div class="section open-hours">
					<div class="icon">
						<a class="icons"><i class="far fa-clock" aria-hidden="true"></i></a>
					</div>
					<div class="body">
						<ul class="days">
							<li>
								<p class="body"><strong>Tuesday to Friday:</strong></p>
							</li>
							<li>
								<p class="body">10.00 - 19.00</p>
							</li>
							<li>
								<p class="body"><strong>Saturday:</strong></p>
							</li>
							<li>
								<p class="body">10.00 - 17.00</p>
							</li>
							<li>
								<p class="body"><strong>Sunday &amp; Monday:</strong></p>
							</li>
							<li>
								<p class="body">Closed</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="section social">
			<div class="header">
				<h3>Connect with us</h3>
			</div>
			<div class="icons-wrap">
				<a class="icons-social" href="#facebook"><i class="fab fa-facebook" aria-hidden="true"></i></a>
				<a class="icons-social" href="#inst"><i class="fab fa-instagram" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
	<div class="bottom">
		<h4>MD hair and beauty<br>&copy; <?php echo date('Y'); ?></h4>
	</div>
	<div id="scroller-top">
		<span class="one"></span>
		<span class="two"></span>
	</div>
</footer>
