<footer>
	<div class="content">
		<div class="email-call">
			<div class="section call">
				<div class="icon">
					<a class="icons" href="tel:+011232343443">
						<i class="fa fa-phone" aria-hidden="true"></i>
					</a>
				</div>
				<div class="body">
					<a>+34 971 096811</a>
				</div>
			</div>
			<div class="section email">
				<div class="icon">
					<a class="icons" href="mailto:email@md.com">
						<i class="fa fa-envelope-o" aria-hidden="true"></i>
					</a>
				</div>
				<div class="body">
					<a>mdhairsalon17@gmail.com</a>
				</div>
			</div>
		</div>
		<div class="location-open-hours">
			<div class="section location">
				<div class="icon">
					<a class="icons"><i class="fa fa-map-signs" aria-hidden="true"></i></a>
				</div>
				<div class="body">
					<p class="body">Passeo Illetas 2,<br>Local 9, 07181 Illetas,<br>Islas Baleares, Spain</p>
					<a class="map-link" href="<?php echo $GLOBALS['environment']; ?>/contact#map">
						<i class="fa fa-map-marker" aria-hidden="true"></i><strong> Go to map</strong>
					</a>
				</div>
			</div>
			<div class="section open-hours">
				<div class="icon">
					<a class="icons"><i class="fa fa-clock-o" aria-hidden="true"></i></a>
				</div>
				<div class="body">
					<ul class="days">
						<li>
							<p class="body"><strong>Tue to Sat</strong></p>
						</li>
						<li>
							<p class="body">10.00 - 19.00</p>
						</li>
						<li>
							<p class="body"><strong>Sat &amp; Sun</strong></p>
						</li>
						<li>
							<p class="body">Closed</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="section social">
			<div class="icons-wrap">
				<a class="icons-social" href="#facebook"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
				<a class="icons-social" href="#inst"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
			</div>
		</div>
		
	</div>
	<div class="bottom">
		<h3>MD hair and beauty<br>&copy; <?php echo date('Y'); ?></h3>	
		<!--
			@idea{
				A poping out element, from the top of the bottom emement, on second slide up after the bottom end of the html, body is reached. The will have link for back to home
			}
		

			// Every other 'li' element added will be floated - left and centered
		-->
	</div>
	<div id="scroller-top" class="fa fa-chevron-circle-up"></div>
</footer>