	<?php include VIEWS_PATH . DS . 'includes/head.html'; ?>
<body>

<!-- LOADING DIV, TO BE DISPLAYED TILL ALL RESOURCES ARE LOADED -->
<div class="loader">
	<div class="spinner-wrap">
		<div class="spinner"></div>
		<h3 class="text">Loading ...</h3>
	</div>
</div>
	
<div class="fixed-bar">
	<div class="sub-fixed-bar">
		<div id="logo-nav">
			<a href="<?php echo $GLOBALS['environment']; ?>/home"><img src="webroot/images/MDLogoWhite.svg" alt="MD hair & beauty Logo"></a>
		</div>
		<div id="menu-trigger">
			<span class="bar-1"></span>
			<span class="bar-2"></span>
			<span class="bar-3"></span>
		</div>
	</div>
</div>	

<ul class="menu-ul">

	<li>
		<a <?php if (App::getRouter()->getController() == 'partners') { ?> class="active" <?php } ?>
			href="<?php echo $GLOBALS['environment']; ?>/home" class="go-to-page">home</a>
	</li>

	<li></li>	

	<li>
		<a <?php if (App::getRouter()->getController() == 'services') { ?> class="active" <?php } ?> 
		href="<?php echo $GLOBALS['environment']; ?>/services" class="go-to-page">services</a>
	</li>

	<li></li>

	<li>
		<a <?php if (App::getRouter()->getController() == 'gallery') { ?> class="active" <?php } ?> 
		href="<?php echo $GLOBALS['environment']; ?>/gallery" class="go-to-page">gallery</a>
	</li>

	<li></li>

	<li>
		<a <?php if (App::getRouter()->getController() == 'about') { ?> class="active" <?php } ?>
		href="<?php echo $GLOBALS['environment']; ?>/about" class="go-to-page">about</a>
	</li>

	<li></li>

	<li>
		<a <?php if (App::getRouter()->getController() == 'contact') { ?> class="active" <?php } ?>
		href="<?php echo $GLOBALS['environment']; ?>/contact" class="go-to-page">contact</a>
	</li>

</ul>



