@mixin display-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

//////////////////

// JUSTIFY-CONTENT

@mixin justify-content-flex-start {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

@mixin justify-content-flex-end {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

@mixin justify-content-center {
 	-webkit-box-pack: center;
  -ms-flex-pack: center;
	justify-content: center;
}

@mixin justify-content-space-around {
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

@mixin justify-content-space-between {
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

// JUSTIFY-CONTENT END

//////////////////////

// ALIGN-ITEMS

@mixin align-items-flex-start {
	-webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}

@mixin align-items-flex-end {
	-webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
}

@mixin align-items-center {
	-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@mixin align-items-stretch {
	-webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

@mixin align-items-space-around {
	-webkit-box-align: space-around;
	-ms-flex-align: space-around;
	align-items: space-around;
}

@mixin align-items-space-between {
	-webkit-box-align: space-between;
	-ms-flex-align: space-between;
	align-items: space-between;
}


// ALIGN-ITEMS END

//////////////////////

// FLEX-DIRECTION

@mixin flex-direction-row {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

@mixin flex-direction-row-reverse {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

@mixin flex-direction-column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

@mixin flex-direction-column-reverse {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-ms-flex-direction: col-reverse;
	flex-direction: col-reverse;
}

// FLEX-DIRECTION END

/////////////////////

// FLEX-WRAP

@mixin flex-wrap-wrap {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

@mixin flex-wrap-nowrap {
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

// FLEX-WRAP END

////////////////////

// ORDER

@mixin order($val) {
	-webkit-box-ordinal-group: $val + 1;
	-ms-flex-order: $val;
	order: $val;
}
