footer {
	width: 100%;
	position: relative;
	background-color: #e4e2e2;

	

	.content {
		padding: 20px 0;
		
		.section {
			width: 50%;

			.body, a {
				font-size: 16px;
				text-align: center;
				color: $secondary_black;
				line-height: 22px;
			}
				
			.icons {
				font-size: 30px;
				text-align: center;
				margin-bottom: 5px;
				color: $secondary_black;
			}
		}
		
		.email-call {	
			@include display-flex;
			@include flex-direction-column;
			@include align-items-center;
			
			.email, .call {
				@include display-flex;
				@include flex-direction-column;
				@include justify-content-flex-start;
				padding-bottom: 30px;
				
			}
	
			.email {

			}

			.call {
				
			}
		}

		.location-social {
			@include display-flex;
			@include flex-direction-row;
			@include justify-content-space-around;

			.location, .open-hours {
				@include display-flex;
				@include flex-direction-column;
				@include justify-content-flex-start;
				padding-bottom: 30px;
			}

			.location {

				a.map-link {
					margin-top: 12px;
					color: $primary_black;
				}
			}

			.open-hours {
				@include display-flex;
				@include flex-direction-column;
				@include align-items-center;

				ul.days {
					p {
						text-align: center;
						line-height: 20px;
					}
				}
			}
		}

		.social {
			height: 40px;
			width: 100%;
			@include display-flex;
			@include flex-direction-row;
			@include justify-content-center;

			.icons-wrap {
				height: 100%;
				width: 45%;
				@include display-flex;
				@include justify-content-space-around;
				
				a.icons-social {
					font-size: 40px;
				}
			}
		}

		
	}

	.bottom {
		height: 60px;
		width: 100%;
		@include boxSizing(border-box);
		padding: 8px 0;
		background-color: #383838;

		@include display-flex;
		@include align-items-center;
		@include justify-content-center;
		
		h3 {
			text-align: center;
			color: $secondary-white;
			line-height: 1.3;
		}
	}

}