footer {
	width: 100%;
	position: relative;
	background-color: #ecf0f1;

	.content {
		padding: 20px 0 40px;
		@include display-flex;
		@include flex-direction-column;

		.email-call, .location-openHours {
			@include display-flex;
			@include flex-direction-column;
			@include align-items-center;
			@include justify-content-flex-start;

			.section {
				height: 100%;
				width: 50%;
				padding-bottom: 30px;

				@include display-flex;
				@include flex-direction-column;
				@include justify-content-flex-start;


				div.icon {
					.icons {
						font-size: 30px;
						color: $secondary_black;
					}
				}

				div.body {
					p.body, a {
						font-size: 16px;
						color: $secondary_black;
						line-height: 22px;
					}
				}
			}
		}

		@media screen and(orientation: landscape) {
			padding: 20px 10% 40px;

			.email-call, .location-openHours {
				@include flex-direction-row;
				@include justify-content-space-around;
				@include align-items-flex-start;
				@include flex-wrap-wrap;

				.section {
					width: 30%;
				}
			}
			
		}
		

		.location-openHours {

			.location {

				a.map-link {
					margin-top: 12px;
					color: $primary_black;
				}
			}

			.open-hours {
				ul.days {
					p {
						line-height: 20px;
					}
				}
			}
		}

		.social {
			height: 40px;
			width: 100%;
			@include display-flex;
			@include flex-direction-row;
			@include justify-content-center;

			.icons-wrap {
				height: 100%;
				width: 45%;
				margin-bottom: 20px;
				@include display-flex;
				@include justify-content-space-around;
				
				a.icons-social {
					font-size: 40px;
					color: $secondary_black;
				}
			}
		}

		
	}

	.bottom {
		height: 60px;
		width: 100%;
		padding: 15px 0;
		background-color: #383838;

		@include display-flex;
		@include align-items-center;
		@include justify-content-center;
		
		h3 {
			text-align: center;
			color: $secondary-white;
			line-height: 1.3;
		}
	}

}