<section class="index services">

	<div class="services-wrapper">

		<div id="hair" class="service hair">
			<div class="head">
				<div class="image">
					<img src="http://via.placeholder.com/120x120" alt="Hair care">
				</div>
				<div class="head-text">
					<h1>Hair Care</h1>
				</div>
			</div>
			<div class="text">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
		</div>
		<div id="face" class="service face">
			<div class="head">
				<div class="head-text">
					<h1>Face Care</h1>
				</div>
				<div class="image">
					<img src="http://via.placeholder.com/120x120" alt="Face care">
				</div>
			</div>
			<div class="text">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
		</div>

		<div id="nails" class="service nails">
			<div class="head">
				<div class="image">
					<img src="http://via.placeholder.com/120x120" alt="Nails care">
				</div>
				<div class="head-text">
					<h1>Nails Care</h1>
				</div>
			</div>
			<div class="text">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
		</div>
		<div id="body" class="service body">
			<div class="head">
				<div class="head-text">
					<h1>Body Care</h1>
				</div>
				<div class="image">
					<img src="http://via.placeholder.com/120x120" alt="Body care">
				</div>
			</div>
			<div class="text">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
		</div>
	</div>
</section>
