<section class="index services">

	<div class="services-nav">
		<h1>Browse our services</h1>
		<ul id='services-nav'>
			<li class='top-line'></li>
			<li id='nav-hair' class="option">Hair care</li>
			<li id='nav-skin' class="option">Skin &amp; Makeup</li>
			<li id='nav-nails' class="option">Nail bar</li>
			<li id='nav-body' class="option">Body massage</li>
			<li id='nav-kids' class="option">Kids zone</li>
			<li class='bottom-line'></li>
		</ul>
	</div>

	<div class="services-wrapper">

		<div id="hair" class="service hair">
			<div class="head">
				<div class="head-text">
					<h1>Hair Care</h1>
				</div>
				<div class="img-container">
					<img class='shadow' src="<?php echo $GLOBALS['environment']; ?>/webroot/images/home/services/services-hair@1x.png" alt="Hair care">
				</div>
			</div>
			<div class="text">

				<p><span class='firstChar'>W</span>e offer cuts that can be anything from flattering to striking, dazzling hair color, and expert styling to complete your look.  Come relax in our comfortable beauty salon atmosphere, and let us take care of making you look your absolute best!</p>

				<p>The bottom line is, we know hair, and we know how to get whatever look you might be after. If you want a simple trim, you’ve got it. If you need our help to figure out a new style, color, or highlights, we have the hairdresser who knows howto geta look you’ll love. We specialize in applying hair extensions that look as natural as your own hair and will be sure to impress. And our keratin treatments will leave your hair looking smooth, feeling soft, and positively glowing with added shine.</p>

				<p><strong>LA BIOSTHETIQUE</strong> has been creating natural skin and hair care solutions since the 1950s supported with nurturing rituals and amazing results.</p>

				<ul>
					<h4>Ranges include:</h4>
					<li>Customised scalp and hair care treatments</li>
					<li>Aromatherapy based skin and body treatments</li>
					<li>Hair loss treatments</li>
					<li>Professional colour</li>
					<li>Premium skincare</li>
					<li>Make-up</li>
				</ul>
			</div>
		</div>

		<div id="skin" class="service skin">
			<div class="head">
				<div class="head-text">
					<h1>Beauty &amp; Makeup</h1>
				</div>
				<div class="img-container">
						<img class='shadow' src="<?php echo $GLOBALS['environment']; ?>/webroot/images/home/services/services-skin@1x.png"
						srcset="
							<?php echo $GLOBALS['environment']; ?>/webroot/images/home/services/services-skin@1x.png 750w,
							<?php echo $GLOBALS['environment']; ?>/webroot/images/home/services/services-skin@2x.jpg 1500w"
						alt="Skin care" />
				</div>
			</div>
			<div class="text">
				<p><span class='firstChar'>W</span>ant to look fresh, radiant and young? For this, it is very important that the content of skin hydration is perfect. We have what your skin needs. The right skin analysis and consultation allows us to offer you advice on the best skin treatment plan for yourself which may involve one or (more likely) a combination of procedures that you are going to get the best benefit from it. Why not get in touch by e-mail or telephone so that we can arrange an appointment with you for an initial chat about your skin concerns and costs involved.</p>
				<br /><p><strong>Makeup</strong></p>
				<p>Come to MoDo Hair &#38 Nails for beautifully applied makeup for that special occasion, or we will travel to you for your wedding day. Whatever the occasion our expert make up artists have experience in all types of makeup. Whether you want to achieve the perfect natural look, or are after something striking and smoking, Modo will work with your ideas, your face shape, and natural beauty to ensure you look your very best. You can pop in for a mini makeover before a night out, or treat yourself to a full makeover in our salon. We can cater for individuals, hen parties, birthday parties and bridal parties.</p>
			</div>
		</div>

		<div id="nails" class="service nails">
			<div class="head">
				<div class="head-text">
					<h1>Nail bar</h1>
				</div>
				<div class="img-container">
					<img class='shadow' src="<?php echo $GLOBALS['environment']; ?>/webroot/images/home/services/services-nail@1x.jpg"
					srcset="
						<?php echo $GLOBALS['environment']; ?>/webroot/images/home/services/services-nail@1x.jpg 750w,
						<?php echo $GLOBALS['environment']; ?>/webroot/images/home/services/services-nail@2x.jpg 1500w"
					alt="Nail bar" />
				</div>
			</div>
			<div class="text">
				<p><span class='first-child'>T</span>here is nothing quite like professional manicure and pedicure give you a confidence boost! Visit our expert nail technicians at MoDo Hair &#38 Nails. Whether you want a quick file & polish or a nourishing  Manicure or Pedicure, you will leave our salon with nails that look pampered and polished to perfection. Manicures and pedicures are ideal for men and women, while for youngsters aged 12 and under we offer the Little Lady Manicure. So, if you are looking for the best manicures and pedicures in Mallorca, call our friendly team and make an appointment.</p>
			</div>
		</div>

		<div id="body" class="service body">
			<div class="head">
				<div class="head-text">
					<h1>Body massage</h1>
				</div>
				<div class="img-container">
					<img class='shadow' src="<?php echo $GLOBALS['environment']; ?>/webroot/images/home/services/services-body@1x.png"
						srcset="
							<?php echo $GLOBALS['environment']; ?>/webroot/images/home/services/services-body@1x.png 750w,
							<?php echo $GLOBALS['environment']; ?>/webroot/images/home/services/services-body@2x.jpg 1500w"
						alt="Body massage" />
				</div>
			</div>
			<div class="text">
				<p><span class='firstChar'>W</span>hat is a relaxing massage? Relaxation massage is usually a full-body treatment involving soft music, soft lighting, and aromatherapy oils. You will have a long, luxurious massage which will use all kinds of techniques including long strokes, gentle kneading and rolling of skin and muscle, and perhaps some rhythmic rocking from side to side.</p>
				<p>The benefits of it are that relieves stress and tension in your muscles and will leave you oozing with a sense of wellbeing. It achieves this because of the general benefits of massage: it improves your circulation, so your organs and skin get more oxygen; it moves fluid through your lymphatic system. A relaxation massage encourages your body to digest its food, and get rid of its toxins. It will help you to sleep better.
        After the session, our team will offer you a cup of strong green tea, which will complete the course and enhance the benefits of the massage.</p>
			</div>
		</div>

		<div id="kids" class="service kids">
			<div class="head">
				<div class="head-text">
					<h1>Kids zone</h1>
				</div>
				<div class="img-container">
					<img class='shadow' src="<?php echo $GLOBALS['environment']; ?>/webroot/images/home/services/Kids_Services_Image@1x.jpg"
						srcset="
							<?php echo $GLOBALS['environment']; ?>/webroot/images/home/services/Kids_Services_Image@1x.jpg 750w,
							<?php echo $GLOBALS['environment']; ?>/webroot/images/home/services/Kids_Services_Image@2x.jpg 1500w"
						alt="Kids zone" />
				</div>
			</div>
			<div class="text">
				<p><span class='firstChar'>C</span>hildren's haircut becomes fun – not a chore. Our very experienced and child-friendly staff are experts in children’s hair, and they keep themselves up to date with the latest trends and styles for both boys and girls. With specially made children’s hairdressing chair, mini screen loaded with entertainment and dedicated play areas, our hairdressing is what has made us so well known throughout our area. With the treats at the end of their haircut, and drinks and free wifi for the grown-ups, a visit to us is a great experience for the whole family.</p>
			</div>
		</div>

	</div>
</section>
