.gallery {
  position: relative;

  h1 {
    margin: 30px 0 0;
    text-align: center;
  }

  .thumbnails-grid {
    max-width: 500px;
    margin: 30px auto 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;


    .cell {
      width: 100px;
      height: 100px;
      margin: 0 0.3rem 1rem 0.3rem;
      position: relative;
      overflow: hidden;

      a {

        .responsive-image {
          left: 50%;
          top: 50%;
          position: absolute;
          display: block;
          @include translate(-50%, -50%);

          &.portrait {
            max-width: 100%;
            height: auto;
          }

          &.landscape {
            max-height: 100%;
            width: auto;
          }
        }
      }

      figcaption {
        display: none;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}


// MEDIA QUERIES
@import "gallery-media";
