.contact {

	padding-top: 30px;
	background-color: $white;

	.form {
		margin:0 auto 75px;

		h1 {
			margin-bottom: 30px;
			padding: 0 20px;
			text-align: center;
			color: $blueShade;
			letter-spacing: 4px;
			line-height: 1.5;

		}

		.underheader {
			width: 80%;
			margin: 0 auto 30px;
			text-align: center;
		}

		form {
			max-width: 800px;
			margin: auto;

			@include display-flex;
			@include flex-direction-column;
			@include align-items-center;

			.inputs, .submit {
				width: 90%;
			}

			input, textarea {
				border-radius: 0;
			}

			.inputs {
				margin-bottom: 35px;

				.box {
					width: 100%;
					padding: 0 10px;
					@include boxSizing(border-box);
					@include display-flex;
					@include flex-direction-column;

					&:first-child {
						margin-bottom: 5px;
					}

					input {
						&:first-child {
							margin-bottom: 5px;
						}
					}

					input, textarea {
						padding: 15px 10px;
						resize: vertical;
						border: 1px solid $blueShade;
						-webkit-box-shadow: none;
						        box-shadow: none;
						color: $blueShade;
						font-size: 16px;
						-webkit-appearance: none;
										appearance: none;


						&::-webkit-input-placeholder {
							font-size: 16px;
						}

						&:-ms-input-placeholder {
							font-size: 16px;
						}

						&::-ms-input-placeholder {
							font-size: 16px;
						}

						&::placeholder {
							font-size: 16px;
						}
					}
				}
			}

			.submit {
				padding: 0 10px;
				@include boxSizing(border-box);

				input {
					width: 100%;
					padding: 15px 10px;
					background-color: $blueShade;
					color: $white;
					font-size: 16px;
					-webkit-appearance: none;
									appearance: none;
				}
			}
		}
	}

	.address {
		margin-bottom: 40px;

		@include display-flex;
		@include flex-direction-column;

		h2 {
			margin-bottom: 30px;
			padding: 0 20px;
			text-align: center;
			color: $blueShade;
			letter-spacing: 4px;
			line-height: 1.5;
		}

		.underheader {
			width: 70%;
			max-width: 800px;
			margin: 0 auto 30px;
			text-align: center;
		}

		.content {
			width: 60%;
			max-width: 350px;
			margin: 0 auto;
			@include display-flex;
			@include justify-content-space-between;
			@include align-items-center;

			.icon {
				i {
					font-size: 60px;
					color: $blueShade;
				}
			}

			.text {
				p {
					line-height: 1.5;
					color: rgba($blueShade, .7);
					text-align: center;
					font-family: $heading;
				}
			}
		}
	}

	.map {
		height: 400px;
		width: 95%;
		max-width: 800px;
		margin: 0 auto 100px;


		@include boxSizing(border-box);

		iframe {
			width: 100%;
			height: 100%;
		}
	}
}


// MEDIA QUERIES
@import "contact-media";
